
{% if section.settings.show_bar %}
    <div class="announcement-bar">
       <button class="arrow left">&#10094;</button>

       <div class="announcement-text">
          {% for block in section.blocks %}
             <span class="message {% if forloop.first %}active{% endif %}" {{ block.shopify_attributes }}>
                {{ block.settings.message }}
             </span>
          {% endfor %}
       </div>

       <button class="arrow right">&#10095;</button>
    </div>
{% endif %}



{% schema %}
 {
   "name": "announcement bar",
   "settings":[
     {
       "type": "checkbox",
       "id": "show_bar",
       "label": "show announcemnet bar",
       "default":true
     },
],
"blocks": [
  {
    "type": "message",
     "name": "message",
     "settings": [
      {
        "type":"text",
        "id": "message",
        "label":"Message Text",
        "default": "Free shipping over $75 USD"
      }
     ]
  }
],
"max_blocks": 5,
 "presets": [
  {
    "name": "Announcement Bar",
    "blocks": [
      {
       "type":"message",
      },
      {
       "type": "message"
      }
    ]
  }
 ]
 }
{% endschema %}