<style>
  
</style>

<section>
  <div>
    {% comment %} {% if section.settings.image!=blank %} {% endcomment %}
        <div class="with-image">
            <div class="content-container">
                <h1>{{ section.settings.title_text }}</h1>  
            </div>
        </div>
    {% comment %} {% else %}
    
    {% endif %} {% endcomment %}
  </div>
</section>

{% schema %}
 {
  "name": "hero",
  "settings": [
    {
       "type": "text",
       "id": "title_text",
       "label": "Title Text",
       "default":"hello"
    }
  ],
  "presets": [
    {
     "name":"hero"
    }

  ]
 }
{% endschema %}